.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(34, 34, 34);
  font-size: 18px;
  color: #ffffff;
}

.cell.start {
  background-color: blueviolet;
}

.cell.right {
  background-color: rgb(16, 194, 0);
}

.cell.wrong {
  background-color: rgb(236, 1, 1);
}

.cell.answer {
  background-color: rgb(0, 184, 230);
}
