.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 10px;
}

.start {
  background-color: blueviolet;
}

.right {
  background-color: rgb(31, 252, 11);
}

.wrong {
  background-color: rgb(252, 30, 30);
}

.answer {
  background-color: rgb(11, 204, 252);
}
